.packFilterContainer{
  display: flex;
  margin-top: 50px;
  .search{
    width: 413px;
    margin-right: 24px;
  }
  .toggleButtons{
    margin-right: 48px;
  }
  .rangeSlider{
    margin-right: 36px;
  }
  .resetFilter{
    margin-top: 22px;
  }
}