@import "src/common/scss/formStyles";

.profileParent {
  @include authParentClass(413px, 408px, 20px, 100px);
  padding: 20px;
  min-height: 408px;

  .title {
    @include authTitle();
    width: 100%;
  }

  .image {
    @include circleImageBlock();
    @include flexOptions(end);

    .changeAvatar {
      @include blockImage();
      box-sizing: border-box;
      width: 32px;
      height: 32px;
      align-self: end;

      &:hover {
        border-radius: 100%;
        opacity: 0.5;
      }
    }
  }

  .info {
    @include infoTextAuth();
    margin: 0;
  }

  &:nth-child(3) {
    @include fontStyle($blackColor, 20px,);
  }
}