@import "src/common/scss/formStyles";

.blockContainer {
  @include authParentClass(413px, 372px);
  min-height: 372px;
  &:first-child {
    color: $blackColor;
  }

  .formContainer {
    @include formContainerClass();

    .passwordInput {
      @include inputClass();
    }

    .submitButton {
      @include submitButtonClass();
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .info {
      @include infoTextAuth();
      margin: 0;
    }
  }
}