@import "src/common/scss/formStyles";

.formContainer {
  @include authParentClass(413px, 420px);
  .title {
    @include authTitle($blackColor);
  }
  .email {
    margin-top: 22px;
  }
  .info{
    @include infoTextAuth();
    margin-top: 18px;
  }
  .button {
    @include submitButtonClass();
    height: 36px;
    width: 347px;
  }
}