@import "src/common/scss/formStyles";

.blockContainer {
  @include registrationClass();
  width: 413px;
  height: 456px;
  &:first-child {
    color: black;
  }

  .formContainer {
    @include formContainerClass();

    .passwordInput {
      @include inputClass();
    }

    .submitButton {
      @include submitButtonClass();
    }

    .info {
      width: 347px;
      height: 48px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      opacity: 0.5;
    }
  }
  .toLogin{
    @include toLoginClass();
    width: 100%;
    text-align: center;
  }
  .toSignIn{
    @include toSignInClass();
    width: 100%;
  }
}