@import "src/common/scss/formStyles";

.formContainer {
  @include authParentClass(413px, 552px, column, space-around);

  .title {
    @include authTitle();
  }
  .formBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .email {
      @include inputClass();
    }

    .checkbox {
      align-self: flex-start;
      margin-top: 12px;
    }

    .recovery {
      align-self: flex-end;
      display: flex;
      text-decoration: none;
      color: $blackColor;
      margin-top: 16px;
      &:hover {
        @include linkStyle();
      }
    }
    .button {
      @include submitButtonClass();
      height: 36px;
      width: 347px;
    }
  }
  .info{
    @include infoTextAuth();
    margin: 0;
  }
  .onAccount {
    @include toSignOrLogInClass();
    &:hover {
      @include linkStyle();
    }
  }
  .error {
    color: $errorColorRed;
  }
}
