@import "../../../common/scss/formStyles";

.login {
  h2 {
    @include authTitle($blackColor);
  }

  @include authParentClass(413px, 528px);

  .formContainer {
    @include formContainerClass();
    min-width: 80%;

    form{
      width: 100%;
    .formControlTag {
      @include flexOptions();
      width: 100%;

      .checkbox {
        align-self: flex-start;
        margin-top: 12px;
      }

      .recovery {

        align-self: flex-end;
        text-decoration: none;
        color: $blackColor;
        margin-top: 16px;
        &:hover {
          @include linkStyle();
        }
      }

    }
    }
    .toLogin {
      @include infoTextAuth();
    }

    .onAccount {
      @include toSignOrLogInClass();
      &:hover {
        @include linkStyle();
      }
    }
    .error {
      color: $errorColorRed;
    }
  }
}
