@import "../../../common/scss/formStyles";

.login {
  h2 {
    @include authTitle()
  }
  @include authParentClass(413px, 528px, column, space-around);
  .formContainer {
    @include formContainerClass();
    .emailInput {
      @include inputClass();
    }
    .checkbox {
      align-self: flex-start;
      margin-top: 12px;
    }
    .recovery {
      align-self: flex-end;
      text-decoration: none;
      color: #000000;
      margin-top: 16px;
    }
    .onAccount {
      @include toSignOrLogInClass()
    }
    .toLogin {
      @include infoTextAuth();
      margin: 5px;
    }
    .error {
      color: $errorColorRed;
    }
  }
}
