@import "src/common/scss/formStyles";

.blockContainer {
  @include authParentClass(413px, 456px, column, space-around);
  min-height: 456px;
  &:first-child {
    color: $blackColor;
  }

  .formContainer {
    @include formContainerClass();

    .passwordInput {
      @include inputClass();
    }

    .submitButton {
      @include submitButtonClass();
    }

    .info {
      @include infoTextAuth();
      margin: 0;
      text-align: left;
    }
  }
  .toLogin{
    @include infoTextAuth();
    width: 100%;
    text-align: center;
  }
  .toSignIn{
    @include toSignOrLogInClass();
    text-decoration: none;
  &:hover{
    @include linkStyle();
  }
    width: 100%;
  }
}