@import "../../../common/scss/formStyles";

.blockContainer {
  @include authParentClass(413px, 456px);
  .title {
    @include authTitle();
    width: 100%;
  }

  .form {
    padding: 0 33px;

    & p {
      @include infoTextAuth();
      margin-top: 26px;
    }

    .button {
      @include submitButtonClass();
      width: 100%;
    }
  }

  & p {
    @include infoTextAuth();
    margin-top: 30px;
  }

  .tryLogging {
    &:hover{
      @include linkStyle();
    }
    @include toSignOrLogInClass();
    color: $blueColor;
    width: 100%;
  }
}