@import "stylesVariables";

//mixins for all forms of App
@mixin authParentClass($width: none, $height: none, $flexDirection: column, $justifyContent: space-around, $marginBottom: 20px, $marginTop:60px) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: center;
  background: $whiteBGColor;
  width: $width;
  min-height: $height;
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  border-radius: 2px;
  box-shadow: $boxShadowColors;
  padding: 20px 0;
}

@mixin formContainerClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  background: $whiteBGColor;
}

@mixin inputClass {
  min-width: 350px;
  margin-bottom: 24px;
}

@mixin submitButtonClass {
  background: $blueColor;
  box-shadow: $boxShadowColors;
  border-radius: 30px;
  margin-top: 50px;
}

@mixin toSignOrLogInClass {
  width: 65px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $blueColor;
  margin-bottom: 10px;
  text-decoration: none;
}

@mixin circleImageBlock {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: -30px;
  text-decoration: none;
}

@mixin infoTextAuth {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $blackColor;
  opacity: 0.5;
  margin-top: -30px;
  max-width: 328px;
  text-decoration: none;
  text-align: center;
}

@mixin authTitle {
  width: 240px;
  height: 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: $blackColor;
  margin: 0;
  text-decoration: none;
}

@mixin linkStyle {
  color: $blueColor;
  text-decoration: underline;
}


